.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -moz-column-gap: normal;
  column-gap: normal;
  z-index: 6;
  background-color: #ffffff;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 100px;
}

.menu__icon {
  display: none;
}

.menu__icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 6;
  cursor: pointer;
}

.menu__icon span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s;
}

.menu__icon span:first-child {
  top: 0;
}

.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}

.menu__icon.active span {
  transform: scale(0);
}

.menu__icon.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
  background-color: #fff;
}

.menu__icon.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  background-color: #fff;
}

.menu__body {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 21%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
@media screen and (max-width: 426px) {
  .menu__body {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu__body {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__body {
    width: 32%;
  }
}
@media screen and (min-width: 1440px) {
  .menu__body {
    width: 21%;
  }
}

@media screen and (max-width: 426px) {
  .menu__body.active {
    left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .menu__body.active {
    left: 511px;
  }
}
@media screen and (min-width: 800px) {
  .menu__body.active {
    left: 650px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__body.active {
    left: 720px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__body.active {
    left: 1200px;
  }
}
@media screen and (min-width: 2000px) {
  .menu__body.active {
    left: 1235px;
  }
}
.menu__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.menu__list {
  font-size: 30px;
  font-weight: 800;
  flex-direction: column;
  padding: 50px;
  gap: 0;
  height: 104%;
  width: 101%;
  background-color: #000000;
  overflow: auto;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  -moz-text-align-last: center;
  text-align-last: center;
}
.menu__link a {
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: none;
}

.menu__link {
  display: block;
  font-size: 30px;
  line-height: 70px;
  text-transform: uppercase;
}
