.slider-1 {
  padding-top: 100px;
}

.slider {
  border-radius: 50px;
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;
  @media (max-width: 376px) {
    width: 90%;
  }
  @media (min-width: 425px) {
    width: 90%;
  }
  @media (min-width: 768px) {
    width: 95%;
  }
  @media (min-width: 1024px) {
    width: 95%;
    height: 550px;
  }
  @media (min-width: 1400px) {
    width: 95%;
    height: 650px;
  }
  &__slides {
    display: flex;
    transition: transform 0.5s ease;
  }
  &__slide {
    min-width: 100%;
    box-sizing: border-box;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__prev {
    border-radius: 20px;
    left: 10px;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    color: white;
    border: none;
    padding: 25px 12px;
    cursor: pointer;
  }

  &__next {
    border-radius: 20px;
    right: 10px;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    color: white;
    border: none;
    padding: 25px 12px;
    cursor: pointer;
  }
}
