h2 {
  color: #333;
}

.text {
  width: 100%;
}

.container- {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
}
@media screen and (max-width: 769px) {
  .container- {
    flex-direction: column;
  }
}

.container-right {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 769px) {
  .container-right {
    flex-direction: column;
  }
}

.img-acc {
  width: 50%;
  height: 50%;
  border-radius: 15px;
}
@media screen and (max-width: 769px) {
  .img-acc {
    width: 100%;
  }
}

.accordion {
  margin: 10px 0;
  width: 100%;
}

.accordion-btn {
  background-color: #2d3e50;
  color: white;
  padding: 10px;
  text-align: left;
  border: none;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
}

.accordion-btn:hover {
  background-color: #555;
}

.panel {
  padding: 10px;
  display: none;
  background-color: #e8e6e6;
  border-radius: 10px;
}

.section-acc {
  padding: 20px;
  background-color: rgb(241, 239, 239);
  margin: 10px 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
